* {
  margin: 0;
  padding: 0;
}
/* shared styles  */
.open-sans-Merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.dark-1 {
  color: rgb(255, 255, 255);
}

/* new year section  */
.new-year-container {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 1300px;
  margin: 0 auto;
  height: 600px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-year-greetings {
  color: rgb(255, 255, 255);
}
.new-year-greetings h3 {
  font-weight: 400;
  font-size: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
}
.new-year-greetings h1 {
  font-weight: bold;
  font-size: 64px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 600px;
}

/* offer section start  */
.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.offer-details {
  margin-top: 120px;
  padding: 40px;
  /* width: 700px;
  height: 800px; */
}
.offer-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.offer-title h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 42px;
  line-height: 100px;
}
.offer-title h3 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
  margin-bottom: 16px;
}
.offer-title h2 {
  margin-bottom: 48px;
  font-size: 44px;
  font-weight: bold;
}

/* party section styles  */
.party-container {
  background-image: linear-gradient(90deg, rgb(0, 0, 2), rgba(7, 2, 17, 0) 100%),
    url("images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 1300px;
  margin-top: 120px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.party-img-year{
  display: flex;
  justify-content: end;
  flex: 1 1 0%;
  align-items: center;
  padding: 68px 138px 68px 0;
  
  
}
.party-details {
  /* padding: 125px 300px 550px 126px; */
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 126px 0 126px 126px ;
  font-family: "Inter", serif;
 
}
.party-title{
  font-size: 60px;
  font-weight: 900;
  /* width: 642px; */
  line-height: 88px;
  margin-bottom: 24px;
}
.party-description{
  /* width: 700px;
  height: 60px; */

  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
.party-btn{
  font-size: 20px;
  font-weight: 700;
  background: none;
  color: #ffffff;
  border: none;
  width: 90px;
  margin-left: 32px;
}